@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: 'montserrat-regular';
	src:
		url('/public/fonts/MontserratRegular.woff2') format('woff2'),
		url('/public/fonts/MontserratRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'montserrat-italic';
	src:
		url('/public/fonts/MontserratItalic.woff2') format('woff2'),
		url('/public/fonts/MontserratItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'montserrat-bold';
	src:
		url('/public/fonts/MontserratBold.woff2') format('woff2'),
		url('/public/fonts/MontserratBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */

@font-face {
	font-family: 'f1-italic';
	src:
		url('/public/fonts/f1-italic-webfont.woff2') format('woff2'),
		url('/public/fonts/f1-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'f1-regular';
	src:
		url('/public/fonts/f1-regular-webfont.woff2') format('woff2'),
		url('/public/fonts/f1-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'f1-bold';
	src:
		url('/public/fonts/f1-bold-webfont.woff2') format('woff2'),
		url('/public/fonts/f1-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'f1-black';
	src:
		url('/public/fonts/f1-black-webfont.woff2') format('woff2'),
		url('/public/fonts/f1-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
